# Ignore all files
*

# Include .asm files
!*.asm

# Include readme file
!README.md

# Include .cir file
!*.cir

# Include .gitignore file
!.gitignore

!/assets/
!/assets/*
```
projeto-beyond-Mars.cir
